<section id="users">
  <div class="container">
    <div class="col-md-12">
      <ul>
        <% @users.each do |user| %>
            <li>
              <div class="user">
                <h2>Joseph Murphy - jmurphy</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan enim aliquam, vestibulum orci sed, tincidunt massa. Suspendisse semper ex non egestas tristique. Praesent quis nulla at nunc commodo tincidunt in eget felis. Nunc nec metus non nunc vulputate euismod vel quis elit.</p>
                <% if current_user.follows?(user) %>
                    <button type="button" class="btn btn-default">unfollow</button>
                <%else%>
                    <button type="button" class="btn btn-default">follow</button>
                <%end%>
              </div>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>